.home{
    height: 100vh;
    &_content{
        height: 100%;
        &--bg{
            background-image: url('../../../assets/img/imagemlogin.jpg');
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &--form{
            width: 100%;
            max-width: 30%;
            right: 0;
            position: absolute;
            height: 100%;
            background-color: #3b1d09;
        }
    }
}

#login{
    margin-top: 40px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 3px 30px 60px 2px rgba(0, 0, 0, 0.596);
    transition: all 0.5s ease-in-out;
}
#login:hover{
    box-shadow: 3px 40px 70px 2px rgb(0, 0, 0);
}

label{
    color: rgb(83, 103, 219);
}